@import './variables.scss';

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: $bg-color;
}
.App{
  text-align: center;
  margin: 1vh auto;
  width: 90%;
  height: 90%;
  padding: 1%;
  background-color:$bg-color;
}
.container {
  border: 5px solid $border-color;
  border-radius: 16px;
  background-color: $body-bg-color;
  text-align: center;
  margin: 1vh auto;
  width: auto;
  height:90%;
  padding: $padding;
}

.createItemForm {
  border-radius: 16px;
  text-align: center;
  margin: 1vh auto;
  width: auto;
  height:90%;
  padding: $padding;
}

.showCard{
  margin: 10vh auto;
  width: 40%;
  height: 90%;
}