.wrapper {
  display: grid;
  grid-template-rows: 70px auto;
  grid-template-columns: 1fr;
  grid-template-areas: "navbar"
                       "content";
  height: 100vh;
  overflow: auto;
}
.App {
  text-align: center;
  grid-area: content;
  padding: 48px;
}

.Category{
  text-align: left;
}