.wrapper {
  display: grid;
  grid-template-rows: 70px auto;
  grid-template-columns: 1fr;
  grid-template-areas: "navbar"
                       "content";
  height: 100vh;
  overflow: auto;
}
.App {
  text-align: center;
  grid-area: content;
  padding: 48px;
}

.Category{
  text-align: left;
}

.createItemComponent{
  text-align: center;
  vertical-align: top;
}

.createItemForm {
  padding: 5%;
  padding-left: 10%;
  display: inline-block;
  width: 50%;
  height: auto;
  margin: 10px auto;
  overflow: auto;
  -moz-box-shadow: #555 0 0 8px;
  -webkit-box-shadow: #555 0 0 8px;
  -o-box-shadow: #555 0 0 8px;
  box-shadow: #555 0 0 8px;
}
